@import 'https://fonts.googleapis.com/css?family=Montserrat';


/*Graphics Animation Here, retrieved from W3Schools*/
body {
    
}

div {
    width: 100px;
    height: 100px;
    background-color: 	#696969;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    /*Duration of the changing background color*/
    animation-duration: 1000s; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color: #D3D3D3;}
    25%  {background-color: #C4C4C4;}
    50%  {background-color: #949494;}
    75% {background-color: 	#A9A9A9;}
    100% {background-color:	#808080;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: #D3D3D3;}
    25%  {background-color: #C4C4C4;}
    50%  {background-color: #949494;}
    75% {background-color: 	#A9A9A9;}
    100% {background-color:	#808080;}
}
/*Animated Text here retrieved through online source - http://jsfiddle.net/user/jonathansampson/fiddles/*/

.container {

    width: 320px;

    height: 100px;

    margin: 1em auto;

    overflow: hidden;

    background: white;

    position: relative;

    box-sizing: border-box;

}


/*Marquee tagged naturally used for scrolling effects*/

.marquee {

    top: 6em;

    position: relative;

    box-sizing: border-box;

    animation: marquee 15s linear infinite;

}



/*Hover effects*/
.marquee:hover {

    animation-play-state: paused;

}




/* Make it move! */

@keyframes marquee {

    0%   { top:   8em }

    100% { top: -11em }

}




/* Make it look pretty */

.microsoft .marquee {

	margin: 0;

    padding: 0 1em;

    line-height: 1.5em;

    font: 1em 'Segoe UI', Tahoma, Helvetica, Sans-Serif;

}


/*Calculations */

.microsoft:before, .microsoft::before,

.microsoft:after,  .microsoft::after {

    left: 0;

    z-index: 1;

    content: '';

    position: absolute;

    pointer-events: none;

    width: 100%; height: 2em;

    background-image: linear-gradient(180deg, #FFF, rgba(255,255,255,0));

}




.microsoft:after, .microsoft::after {

    bottom: 0;

    transform: rotate(180deg);

}




.microsoft:before, .microsoft::before {

    top: 0;

}




/* Style the links */

.vanity {

    color: #333;

    text-align: center;

    font: .75em 'Segoe UI', Tahoma, Helvetica, Sans-Serif;

}




.vanity a, .microsoft a {

    color: #1570A6;

    transition: color .5s;

    text-decoration: none;

}




.vanity a:hover, .microsoft a:hover {

    color: #F65314;

}

.text-center{

    text-align: center;

    display: block;

    margin: 0 auto;

}


.title{
    
    font-family: 'Montserrat', sans-serif;
    
    text-align:center;
}


.inside-title{

     font-family: 'Montserrat', sans-serif;
    
     font-size: 15px;

     text-align: center;

     display: block;
     
}